body {
	margin: 0;
}

/* custom propreties */
/* :root {
 
} */



/* font */

@font-face {
	font-family: "westwood";
	src: url(../font/TimesNewRomanRegular.woff2);
	/* regular */
}

@font-face {
	font-family: "westwood";
	src: url(../font/NeueHelvetica65Medium.woff2);
	/* medium */
}

@font-face {
	font-family: "westwood";
	src: url(../font/NeueHelvetica55Roman.woff2);
	/* bold */
}

.skip-link{
	position: absolute;
	left: 999em;
	&:focus{
		left:0em;
		position:absolute;
	}
}

a:link {
    text-decoration: none;
}

a:hover {
    text-underline-offset: .8em;
    text-decoration-thickness: .6em;
    text-decoration: underline;
    text-decoration-color: black;
}



/************************* header ******************/
header nav {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	
}

header ul {
	display: flex;
	list-style: none;
	justify-content:space-between;
	align-items: flex-start;
	width: 100%;
	padding: 0.5em 2em;
	gap: 1rem;
}

header li {
	display: flex;
	align-items: flex-start;
	margin: auto;
	
}

header li:nth-of-type(1) button {
	background-color: transparent;
	border: none;
	color: black;
}

header li:nth-of-type(2) svg {
	height: auto;
	width: auto;
	border-color: rgb(0, 0, 0);
	color: rgb(0, 0, 0);
}

header li:nth-of-type(3) svg {
	height: auto;
	width: 7.5em;
	color: rgb(0, 0, 0);
	
}

header li:nth-of-type(4) svg {
	color: rgb(0, 0, 0);
}


header li:nth-of-type(5) svg {
	height: auto;
	width: auto;
	border-color: black;
	color: black;
	
}

/************** FOOTER ***********************/
/****************** eerste nav ***************/
footer section:nth-of-type(1) nav {
	font-family: "westwood";
	display: grid;
	align-items: center;
}

footer section:nth-of-type(1) nav ul {
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(2, 1fr);
	/* 2 kolommen naast elkaar */
	gap: 3em;
	list-style: none;
	padding: 12rem 1.5rem 4rem 1.5rem;
	margin: 0;

}

footer section:nth-of-type(1) nav li {
	flex-direction: column;
	align-items: center;
	text-align: center;
}

footer section:nth-of-type(1) nav a {
	padding: 2rem;
	color: black;
}

footer section:nth-of-type(1) nav svg {
	color: black;
}

footer section:nth-of-type(1) nav p {
	font-family: inherit;
	text-transform: uppercase;
	align-items: center;
	letter-spacing: 0.08em;
	line-height: 1.5em;
	font-size: 0.875em;
	margin: 0;
}

/******************* subcribe form ***************/
footer:nth-of-type(1) form {
	font-family: "westwood";
	font-size: 1rem;
	display: grid;
	background-color: rgb(255, 255, 255);
	color: black;
	grid-template-columns: 1fr max-content;
	padding: 1rem 0.5rem 1rem;
}

footer:nth-of-type(1) form h3 {
	list-style: none;
	grid-column: 1 / -1;
	/* laat de titel over beide kolommen lopen */
	text-transform: uppercase;
	font-family: inherit;
	font-size: smaller;
	line-height: 1.44em;
	letter-spacing: 0.09375rem;
	margin: 0;
	padding: 0.5rem 1em 0em;
}

footer:nth-of-type(1) form input {
	border: white;
	padding: 0.5rem 1em;
	font-size: 1rem;
	outline: none;

}

footer:nth-of-type(1) form button {
	/* width: auto; */
	border: none;
	background-color: white;
	cursor: pointer;
}

footer:nth-of-type(1) form svg {
	width: 24px;
	height: 24px;
	padding: 4em 3em;
}

/* social media nav */
footer section:nth-of-type(2) {
	font-family: "westwood";
	background-color: rgb(255, 255, 255);
	padding: 2rem 2.5rem 0rem 0rem;
}

footer section:nth-of-type(2) nav ul {
	list-style-type: "";
	display: flex;
	justify-content: flex-start;
	gap:0.25rem;
	padding-left: 1.5em;
}

footer section:nth-of-type(2) nav li {
	margin: 0;
	padding: 0;
	flex-basis: 8%;
	padding-right: 0.5rem;
}

footer section:nth-of-type(2) nav h3 {
	padding: 0rem 0rem 0rem 1.5rem; 
	margin: 0;   
	text-transform: uppercase;
	font-family: inherit;
	font-size: smaller;

	line-height: 1.4;
	letter-spacing: 0.09375rem;
}

footer section:nth-of-type(2) nav svg {
	display: block;
	margin: 0;
	padding: 0;
	width: 16px;
	height: 16px;
	color: black;
	
}

footer section:nth-of-type(2) nav a {
	display: inline-flex;
	margin: 0;
	padding: 0;
	line-height: 0;
}





/* detials nav */
footer section:nth-of-type(3) {
	font-family: "westwood";
	background-color: rgb(255, 255, 255);
}

footer section:nth-of-type(3) nav details {
	font-family: inherit;
	text-transform: uppercase;
	padding: 1.5em 1em 2em 1.5em;
}

footer section:nth-of-type(3) nav summary {
	margin: 0;   
	text-transform: uppercase;
	font-family: inherit;
	font-size: smaller;

	line-height: 1.4;
	letter-spacing: 0.09375rem;
}

footer section:nth-of-type(3) nav ul {
	font-family: inherit;
	list-style-type: "";
	display: flex;
  	flex-direction: column;
	gap: 0.75rem;
}

footer section:nth-of-type(3)nav li {
	font-family: inherit;
	list-style-type: "";
	padding-bottom: 5em;

}

footer section:nth-of-type(3) nav a {
	font-family: inherit;
	color: rgba(63, 63, 63, 0.752);
	margin: 0;   
	text-transform: none;
	font-family: inherit;
	font-size: small;
}