body {
	margin: 0;
}

/* custom propreties */

/* font */

@font-face {
    font-family: "westwood";
    src: url(../font/TimesNewRomanRegular.woff2);
    /* regular */
}

@font-face {
    font-family: "westwood";
    src: url(../font/NeueHelvetica65Medium.woff2);
    /* medium */
}

@font-face {
    font-family: "westwood";
    src: url(../font/NeueHelvetica55Roman.woff2);
    /* bold */
}
/************************* header ******************/
header {
	position: fixed;
	box-sizing: inherit;
	display: flex;
	padding: 1.3em;
	max-width: 50em;
	width: 100%;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0));

}

header:hover {
	color: white;
}

header ul {
	display: flex;
	list-style: none;
	width: 100%;
}

header li:nth-of-type(1) button {
	background-color: transparent;
	border: none;
}

header li:nth-of-type(2) svg {
	height: auto;
	width: auto;
	border-color: black;
	color: black;
}

header li:nth-of-type(3) svg {
	height: auto;
	width: 7.5em;
	color: black;
}

header li:nth-of-type(4) svg {
	height: auto;
	width: auto;
	border-color: black;
	color: black;
}

header li:nth-of-type(5) svg {
	height: auto;
	width: auto;
	border-color: black;
	color: black;
}

/************** FOOTER ***********************/
/****************** eerste nav ***************/
footer section:nth-of-type(1) nav {
	font-family: "westwood";
	display: grid;
	align-items: center;
}

footer section:nth-of-type(1) nav ul {
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(2, 1fr);
	/* 2 kolommen naast elkaar */
	gap: 3em;
	list-style: none;
	padding: 12rem 1.5rem 4rem 1.5rem;
	margin: 0;

}

footer section:nth-of-type(1) nav li {
	flex-direction: column;
	align-items: center;
	text-align: center;
}

footer section:nth-of-type(1) nav a {
	padding: 2rem;
	color: black;
}

footer section:nth-of-type(1) nav svg {
	color: black;
}

footer section:nth-of-type(1) nav p {
	font-family: inherit;
	text-transform: uppercase;
	align-items: center;
	letter-spacing: 0.08em;
	line-height: 1.5em;
	font-size: 0.875em;
	margin: 0;
}

/******************* subcribe form ***************/
footer:nth-of-type(1) form {
	font-family: "westwood";
	font-size: 1rem;
	display: grid;
	background-color: rgb(255, 255, 255);
	color: black;
	grid-template-columns: 1fr max-content;
	padding: 1rem 0.5rem 1rem;
}

footer:nth-of-type(1) form h3 {
	list-style: none;
	grid-column: 1 / -1;
	/* laat de titel over beide kolommen lopen */
	text-transform: uppercase;
	font-family: inherit;
	font-size: smaller;
	line-height: 1.44em;
	letter-spacing: 0.09375rem;
	margin: 0;
	padding: 0.5rem 1em 0em;
}

footer:nth-of-type(1) form input {
	border: none;
	padding: 0.5rem 1em;
	font-size: 1rem;
	outline: none;

}

footer:nth-of-type(1) form button {
	/* width: auto; */
	border: none;
	background-color: white;
	cursor: pointer;
}

footer:nth-of-type(1) form svg {
	width: 24px;
	height: 24px;
	padding: 4em 3em;
}


/* social media nav */
footer:nth-of-type(2) nav {
	font-family: inherit;
}

footer:nth-of-type(2) section ul {
	list-style: none;
}

footer:nth-of-type(2) section h3 {
	font-family: inherit;
}

footer:nth-of-type(2) section li {
	font-family: inherit;
}

footer:nth-of-type(2) section svg {
	font-family: inherit;
}












/* detials nav */
section:nth-of-type(1) details {
	font-family: "westwood";
}

section:nth-of-type(1) details summary {
	font-family: inherit;
}

section:nth-of-type(1) details ul {
	font-family: inherit;
}

section:nth-of-type(1) details a {
	font-family: inherit;
}