body {
	margin: 0;
	background-color: var(--color-bg-page);
	overflow-x: hidden;
}


/* custom propreties */
:root {
	--color-bg-page: #ffffff;
	--color-text: #000000;
	--color-text-section2: #FFFFFF;
	/* header */
	--color-bg-header: rgba(255, 255, 255, 0.28);
	--color-header-overlay: rgba(255, 255, 255, 0.24);
	/* footer */
	--color-bg-footer: #ffffff;
	/* section specifieke tint */
	--color-bg-section4: #F2F1EF;
	/* iconen */
	--color-svg: #000000;
	/*  button  */
	--color-button-bg: #000000;
	--color-button-text: #ffffff;
	--color-button-border: #000000;
	--color-button-hover-bg: #ffffff;
	--color-button-hover-text: #000000;
	--color-button-hover-border: #000000;
	/* links hover */
	--color-link-hover: #000000;
	/* underline */
	--color-underline: #000000;
	/* focus visible */
	--color-focus: red;	

}

@media (prefers-color-scheme: dark) {
	:root {
	--color-bg-page: #000000;
	--color-text: #ffffff;
	--color-text-section2: #FFFFFF;
	/* header */
	--color-bg-header: rgba(0, 0, 0, 0.386);
	--color-header-overlay: rgba(0, 0, 0, 0.24);
	/* footer */
	--color-bg-footer: #000000;
	/* section specifieke tint */
	--color-bg-section4: #111111; 
	/* iconen */
	--color-svg: #ffffff;
	/*  button  */
	--color-button-bg: #ffffff;
    --color-button-text: #000000;
    --color-button-border: #ffffff;
    --color-button-hover-bg: #000000;
    --color-button-hover-text: #ffffff;
    --color-button-hover-border: #ffffff;
	/* links */
	--color-link-hover: #ffffff;
	/* underline */
	--color-underline: #FFFFFF;
	/* focus visible */
	--color-focus: red	;	
	
	}
	
}

/* font */

@font-face {
	font-family: "westwood";
	src: url(../font/TimesNewRomanRegular.woff2);
	/* regular */
}

@font-face {
	font-family: "westwood";
	src: url(../font/NeueHelvetica65Medium.woff2);
	/* medium */
}

@font-face {
	font-family: "westwood";
	src: url(../font/NeueHelvetica55Roman.woff2);
	/* bold */
}

.skip-link{
	position: absolute;
	left: 999em;
	&:focus {
		left:0em;
		position:absolute;
	}
}

a:link {
    text-decoration: none;
}

a:hover {
    text-underline-offset: .8em;
    text-decoration-thickness: .6em;
    text-decoration: underline;
    text-decoration-color: var(--color-link-hover);
}

:focus-visible {
	outline: 2px solid var(--color-focus);
}

/* header */
header nav:nth-of-type(1) {
	padding: 0 1rem 0 1rem;
}
  
header nav:nth-of-type(1) ul {
	display: grid;
	grid-template-columns: repeat(15, 1fr);
	align-items: center;
	justify-content: space-between;
	list-style: none;
	padding: 0;
	height: auto;
	color: var(--color-bg-header);
}
  

header :nth-of-type(1) button{
	background-color: transparent;
	border:none;
	cursor: pointer;
	color: var(--color-button);
}
header svg {
	width: auto;
	height: auto;
	display: grid;
	color: var(--color-svg);
}

header li:nth-of-type(2) {
	height: auto;
	width: auto;
	grid-column: 8 ;
	color: var(--color-svg);
}

header li:nth-of-type(3) {
	grid-column: 14;
	height: auto;
	width: auto;
}

/* hamburger menu */
header nav:nth-of-type(2) {
	font-family: "westwood";
	position: fixed;
	border-color: var();
	top:0;
	left: 0;
	bottom:0;
	translate: -100% 0;
	transition: .4s ease;
	overflow-y: auto;
	&.is-open{
		translate: 0;
	}
}

header nav:nth-of-type(2) ul {
	display: flex;
	flex-direction: column;
	padding: 0.5rem 0 0.5rem 0;
	overflow-y: auto;
	background-color: var(--color-bg-page);
}

header nav:nth-of-type(2) li {
	cursor: pointer;
	display: flex;
	padding: 1rem 1.5rem 0.5rem 1rem;
	justify-content: space-between;
	align-items: center;
}

header nav:nth-of-type(2) li:first-of-type{
	padding-top: 2em;
}

header nav:nth-of-type(2) a {
	text-transform: uppercase;
	font-size: 0.9em;
	color: var(--color-text);
}

header li:nth-of-type(13) a {
	color:blue;
}

header li:nth-of-type(14) a {
	color:blue
}

header nav:nth-of-type(2) svg {
	padding-left: 1em;
	color: var(--color-svg);
	justify-content: flex-end;
} 

header nav:nth-of-type(2) button {
	display: flex;
	padding: 1rem 1rem 1rem 1rem;
	justify-content: flex-end;
}

/************** FOOTER ***********************/
/****************** eerste nav ***************/


footer section:nth-of-type(1) nav {
	font-family: "westwood";
	background-color: var(--color-bg-page);
	color: var(--color-text);
}

footer section:nth-of-type(1) h2 {
	display: none;
	color: var(--color-text);
}

footer section:nth-of-type(1) nav ul {
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(2, 1fr);
	gap: 3em;
	list-style: none;
	padding: 7rem 1rem 1rem 1rem;
	margin: 0;
	background-color: var(--color-bg-page);
}

footer section:nth-of-type(1) nav li {
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: var(--color-bg-page);
}

footer section:nth-of-type(1) nav a {
	padding: 2rem;
	color: var(--color-text);
}

footer section:nth-of-type(1) nav svg {
	color:  var(--color-svg);
}

footer section:nth-of-type(1) nav p {
	font-family: inherit;
	text-transform: uppercase;
	align-items: center;
	letter-spacing: 0.08em;
	line-height: 1.5em;
	font-size: 0.875em;
	margin: 0;
	color: var(--color-text);
}

/******************* subcribe form ***************/
footer:nth-of-type(1) form {
	font-family: "westwood";
	font-size: 1rem;
	display: grid;
	background-color:  var(--color-bg-page);
	color: var(--color-text);
	grid-template-columns: 1fr max-content;
	padding: 2rem 0.5rem 1rem;
}

footer:nth-of-type(1) form h2 {
	list-style: none;
	grid-column: 1 / -1;
	text-transform: uppercase;
	font-family: inherit;
	font-size: smaller;
	line-height: 1.44em;
	letter-spacing: 0.09375rem;
	margin: 0;
	padding: 0.5rem 1em 0em;
	background-color: var(--color-bg-page);
	color: var(--color-text);
}

footer:nth-of-type(1) form input {
	border:none;
	padding: 0.5rem 1em;
	font-size: 1rem;
	background-color: var(--color-bg-page);
	color: var(--color-text);
}

footer:nth-of-type(1) form button {
	width: auto;
	border: none;
	background-color:var(--color-bg-page);
	cursor: pointer;
}

footer:nth-of-type(1) form svg {
	width: 1.5em;
	height: 1.5em;
	padding: 4em 3em;
	color: var(--color-svg);
}


/* social media nav */
footer section:nth-of-type(2) {
	font-family: "westwood";
	background-color: var(--color-bg-page);
	padding: 2rem 2.5rem 0rem 0rem;
}


footer section:nth-of-type(2) nav ul {
	list-style-type: "";
	display: flex;
	justify-content: flex-start;
	gap:0.25rem;
	padding-left: 1.5em;
	background-color: var(--color-bg-page);
}

footer section:nth-of-type(2) nav li {
	margin: 0;
	padding: 0;
	flex-basis: 8%;
	padding-right: 0.5rem;
	background-color: var(--color-bg-page);
}

footer section:nth-of-type(2) nav h2 {
	padding: 0rem 0rem 0rem 1.5rem; 
	margin: 0;   
	text-transform: uppercase;
	font-family: inherit;
	font-size: smaller;

	line-height: 1.4;
	letter-spacing: 0.09375rem;
	color: var(--color-text);
}

footer section:nth-of-type(2) nav svg {
	display: block;
	margin: 0;
	padding: 0;
	width: 16px;
	height: 16px;
	color: var(--color-svg);
	
}

footer section:nth-of-type(2) nav a {
	display: inline-flex;
	margin: 0;
	padding: 0;
	line-height: 0;
	color: var(--color-text);
}

/* detials nav */
footer section:nth-of-type(3) {
	font-family: "westwood";
	background-color: var(--color-bg-page);
	color: var(--color-text);
}

footer section:nth-of-type(3) h2{
	display: none;
	background-color: var(--color-bg-page);
	color: var(--color-text);
}

footer section:nth-of-type(3) nav details {
	font-family: inherit;
	text-transform: uppercase;
	padding: 1.5em 1em 2em 1.5em;
	background-color: var(--color-bg-page);
	color: var(--color-text);
}

footer section:nth-of-type(3) nav summary {
	margin: 0;   
	text-transform: uppercase;
	font-family: inherit;
	font-size: smaller;

	line-height: 1.4;
	letter-spacing: 0.09375rem;
	background-color: var(--color-bg-page);
	color: var(--color-text);
}

footer section:nth-of-type(3) nav ul {
	font-family: inherit;
	list-style-type: "";
	display: flex;
  	flex-direction: column;
	gap: 0.75rem;
	background-color: var(--color-bg-page);
}

footer section:nth-of-type(3)nav li {
	font-family: inherit;
	list-style-type: "";
	padding-bottom: 5em;
	background-color: var(--color-bg-page);

}

footer section:nth-of-type(3) nav a {
	font-family: inherit;
	color: rgba(63, 63, 63, 0.752);
	margin: 0;   
	text-transform: none;
	font-family: inherit;
	font-size: small;
	color: var(--color-text);
}

@media(width > 64em) {
	footer {
		display: grid;
		grid-template-columns: repeat(12,1fr);
		column-gap: 2rem;
		row-gap: 0.5rem;
		padding: 2rem 2rem 0 2rem;
		background-color: var(--color-bg-footer);
	}
	/* eerste section */
	footer section:nth-of-type(1) {
		display: grid;
		grid-column: 1 / -1;
		padding-top:7em;
	}

	footer section:nth-of-type(1) nav ul {
		padding: 0;              
	}
	/* social media nav */
	footer section:nth-of-type(2)  {
		grid-column: 10 / 11;
		display: grid;
		padding: 3rem 0 0 0.5rem;              
	}

	footer section:nth-of-type(2) ul {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	/* details */
	footer section:nth-of-type(3) {
		display: grid;
		grid-row: 2;
		grid-column: 1 / 8;      
		padding: 3rem 0 0 1rem;              
	}

	footer section:nth-of-type(3) nav {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 2rem;
	}

	footer section:nth-of-type(3) nav details {
		padding: 0 0 2rem 0;     
	}
	/* subcribe form */
	footer:nth-of-type(1) form {
		grid-column: 1 / -5;
        grid-row: 3;  
		padding: 0 0 3rem 1rem;              
	}
}