/****************** !!!SECTION 1!!! *****************/
section:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "westwood";
}

section:nth-of-type(1) h1 {
    text-transform: uppercase;
    font-family: inherit;
    text-align: center;
    font-size: 2.5em;
    line-height: 3rem;
    color: var(--color-text-home)
}

section:nth-of-type(1) img {
    position: relative;
    width: 100%;

    order: -1;
}

section:nth-of-type(1) a {
    color: black;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-underline-offset: .8em;
    text-decoration-thickness: .6em;
    text-decoration: underline;
    text-decoration-color: black;
}


/***************** !!!SECTION 2 CAROUSELL!!! ***************/

section:nth-of-type(2) {
    font-family: "westwood";

}

section:nth-of-type(2) h2 {
    font-size: 1em;
    font-family: "westwood";
    position: relative;
    z-index: 1;
}


section:nth-of-type(2) ul {
    margin: 0;
    padding: 0;
    list-style-type: "";

    background-color: red;

    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;

    gap: .5em;
}

section:nth-of-type(2) li {
    flex-basis: 80%;
    flex-shrink: 0;
}


section:nth-of-type(2) article {
    font-family: inherit;

    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    width: 100%;
}


section:nth-of-type(2) h3 {
    font-size: inherit;
    font-family: "westwood";
}

section:nth-of-type(2) p {
    font-size: inherit;
    font-family: "westwood";
    justify-content: center;
    align-items: center;
}

section:nth-of-type(2) img {
    width: 100%;
    aspect-ratio: 5/6;
    object-fit: cover;
}

/************************ !!!SECTION 3!!! ********************/
section:nth-of-type(3) {
    display: flex;
    flex-direction: row;
    position: relative;
    font-family: "westwood";
    width: 100%;
    gap: 1em;
    background-color: blue;
    padding-bottom: 4em;
}

section:nth-of-type(3) img {
    width: 100%;
    aspect-ratio: auto 480/933;
    object-fit: contain;
    overflow: hidden;
}

section:nth-of-type(3) h2 {
    position: relative;
    font-family: inherit;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 30px;
}

/******************** !!!SECTION 4!!! ****************/
section:nth-of-type(4) {
    background-color: #F2F1EF;
    font-family: "westwood";
    padding: 0;
}

section:nth-of-type(4) ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

section:nth-of-type(4) article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
}

section:nth-of-type(4) article img {
    width: 100%;
    display: block;
    object-fit: cover;
    padding: 0;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

section:nth-of-type(4) article h2 {
    text-transform: uppercase;
    font-family: inherit;
    font-size: 2.5em;
    letter-spacing: 0.02em;
    line-height: 1.5em;
    padding: 5.5rem 1.5rem 1rem;
    margin: 0;
}

section:nth-of-type(4) article nav {
    padding-bottom: 9rem;
}

section:nth-of-type(4) article a {
    color: black;
    padding: 0rem 2rem 2rem 2rem;
}