header {
	position:fixed;
	z-index: 1;
	min-width: 100%;
	background-color: var(--color-bg-header);
	padding: 0;
	margin: 0;
}

/****************** !!!SECTION 1!!! *****************/
section:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "westwood";
    background-color: var(--color-bg-page)
}

section:nth-of-type(1) h1 {
    text-transform: uppercase;
    font-family: inherit;
    text-align: center;
    font-size: 2.5em;
    line-height: 3rem;
    /* bron van gebruik order: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/order */
    order:2;  
    color: var(--color-text);
    background-color: var(--color-bg-page)
}

section:nth-of-type(1) img {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0));
    position: relative;
    width: 100%;
     /* bron van gebruik order: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/order */
    order: 1;
}

section:nth-of-type(1) a {
    color: var(--color-text);
    text-align: center;
     /* bron van gebruik order: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/order */
    order:3;
    padding: 1em;;
    color: var(--color-text);
}



/***************** !!!SECTION 2 CAROUSELL!!! ***************/
/* bron carousel codepen opdracht 13 & hulp van Sanne tijdens de les */
section:nth-of-type(2) {
    font-family: "westwood";
    color: var(--color-text);
    background-color: var(--color-bg-page);
}

section:nth-of-type(2) h2 {
    font-weight: 400;
    line-height: 1.26;
    font-size: 1.5em;
    font-family: inherit;
    position: relative;
    z-index: 1;
    padding: 7rem 0rem 0rem 1rem;
}

main section:nth-of-type(2) ul {
    margin: 0;
    padding: 1rem 1rem 0rem 1rem;
    list-style-type: "";

    background-color: var(--color-bg-page);

    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;

    gap: .5em;
}

section:nth-of-type(2) li {
    flex-basis: 50%;
    flex-shrink: 0;
}


section:nth-of-type(2) article {
    font-family: inherit;
    text-transform: uppercase ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    width: 100%;
}


section:nth-of-type(2) h3 {
    font-size: inherit;
    font-weight: 400;
    overflow: hidden;
     /* bron van gebruik order: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/order */
    order: 2;
    color: var(--color-text);
}

section:nth-of-type(2) p {
    font-size: inherit;
    font-family: "westwood";
    justify-content: center;
    align-items: center;
    line-height: 0.2rem;
     /* bron van gebruik order: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/order */
    order:3;
    color: var(--color-text);
}

section:nth-of-type(2) img {
    width: 100%;
    aspect-ratio: 5/6; 
    object-fit: cover;
     /* bron van gebruik order: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/order */
    order: 1;
}

@media (width > 64em) {
    section:nth-of-type(2) li{
        flex-basis: 25%;
    }

    main section:nth-of-type(2) ul {
        gap: 1.5em;
    }
}

/************************ !!!SECTION 3!!! ********************/
section:nth-of-type(3) {
    display: flex;
    flex-direction: row;
    position: relative;
    font-family: "westwood";
    width: 100%;
    gap: 1em;
    background-color: var(--color-bg-page);
    padding: 7em 0em 7em 0em;
}
section:nth-of-type(3) article {
    display: grid;
    align-items: center;
    justify-items: center;
}

section:nth-of-type(3) img {
    grid-column-start: 1;
    grid-row-start: 1;
    width: 100%;
    object-fit: contain;
    overflow: hidden;
}

section:nth-of-type(3) h2 {
    grid-column-start: 1;
    grid-row-start: 1;
    position: relative;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color-text-section2);
    font-weight: 400;
    font-size: 30px;
}


/******************** !!!SECTION 4!!! ****************/
section:nth-of-type(4) {
    background-color: var(--color-bg-section4);
    font-family: "westwood";
    padding: 0;
}

section:nth-of-type(4) ul {
    display:grid;
    list-style: none;
    margin: 0;
    padding: 0;

}

section:nth-of-type(4) li {
    margin: 0;
    padding: 0;
}

section:nth-of-type(4) article {
    display: grid;
    grid-template-columns: 1fr;        
    grid-template-rows: auto auto auto;
    text-align: center;
    row-gap: 1.5rem;
}

section:nth-of-type(4) img {
    width: 100%;
    display: block;
    object-fit: cover;
    grid-row: 1;
}

section:nth-of-type(4)  h2 {
    text-transform: uppercase;
    font-family: inherit;
    font-size: 2.5em;
    letter-spacing: 0.02em;
    line-height: 1.5em;
    margin: 0;
    padding-top: 2em;
    grid-row: 2;
    color: var(--color-text);
    
}

section:nth-of-type(4) article nav {
    grid-row: 3;
}

section:nth-of-type(4) article a {
    color: black;
    padding: 1em 1em 4em 1em;
    display: inline-block;
    color: var(--color-text);
    
}

@media (min-width: 600px) {
    section:nth-of-type(4) ul {
        display: block;
    }

    section:nth-of-type(4) article {
        display: grid;
        grid-template-columns: 1fr 1fr;   
        grid-template-rows: auto auto;    
        align-items: center;
        text-align: center;
        row-gap: 1.5rem;
    }


    section:nth-of-type(4) img {
        grid-column: 1;
        grid-row: 1 / 3;                  
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    section:nth-of-type(4) h2 {
        grid-column: 2;
        grid-row: 1;
        font-size: 3.1em;
        line-height: 1.2;
        padding: 8rem 1rem 0 1rem;                   
    }


    section:nth-of-type(4) article nav {
        grid-column: 2;
        grid-row: 2;
    }

    section:nth-of-type(4) article a {
        padding: 0 0 3rem 0;                     
    }
}