/* header */
header {
    position: sticky;
    z-index: 1;
    min-width: 100%;
    top:0;
    padding: 0;
    margin: 0;
    background-color: var(--color-bg-header);
}
/* section 1  breadcrumbs (met behulp van matthijs en ook met responsive hulp gekregen) */
main section:nth-of-type(1) ul {
    font-family: "westwood";
    padding: 1em;
    background-color: var(--color-bg-page);
    color: var(--color-text);
}

main section:nth-of-type(1) ul a {
    font-family: inherit;
    color: rgb(0, 0, 0);
    background-color: var(--color-bg-page);
    color: var(--color-text);
}

main section:nth-of-type(1) ul li {
    display: none;
}

main section:nth-of-type(1) ul li:last-of-type {
    display: inline-block;
}

main section:nth-of-type(1) ul li:last-of-type:before {
    content: '←';
    color: #020202;
    color: var(--color-text);
}

main section:nth-of-type(2) h2 {
    display: none;
}

main section:nth-of-type(1) h2 {
    display: none;
}


/* section 2 caroussel tshirt */
/* snap ik niet code van Sanne zelf gekregen hihi */
* {
    box-sizing: border-box;
}

main img {
    max-width: 100%;
    background-color: var(--color-bg-page);
}

main section:nth-of-type(2) {
    background-color: var(--color-bg-page);
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    gap: 1em;
}


/* NAV */
main section nav {
    order: 1;
}

main section nav ul {
    margin: 0;
    padding: 0;
    list-style-type: "";
    display: flex;
    gap: 1em;
}


main section nav ul img {
    display: block;
}

/* FOTO'S */

main section:nth-of-type(2)>ul {
    margin: 0;
    padding: 0;
    list-style-type: "";

    display: flex;
    overflow-x: auto;

    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;

    scroll-behavior: smooth;

    /* hoef je niet uit te kunnen leggen */
    anchor-name: --carousel;

    &::scroll-button(*) {
        position: fixed;
        position-anchor: --carousel;

        appearance: none;
        border: none;
        background: rgb(255 255 255 / .5);
        width: 3em;
        height: 3em;
    }

    &::scroll-button(right) {
        position-area: center;
        justify-self: end;
        content: '→' / 'Next';
    }

    &::scroll-button(left) {
        /* hoef je niet uit te kunnen leggen */
        position-area: center;
        justify-self: start;
        content: '←' / 'Previous';
    }
}

main section:nth-of-type(2) > ul li {
    flex-basis: 100%;
    flex-shrink: 0;

    scroll-snap-align: center;
}

main section > ul li img {
    display: block;
}

/* section 3 flexbox maat en kleur prijs etc */
main section:nth-of-type(3) {
    background-color: var(--color-bg-page);
    color: var(--color-text);
    font-family: "westwood";
    font-weight: 400;
    padding: 0 1.3rem 1.3rem 2rem;
    gap:2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

main section:nth-of-type(3) h1 {
    font-family: inherit;
    font-weight: 300;
    flex: 1;
}

main section:nth-of-type(3) svg {
    display: flex;
    border-color: black;
}

main section:nth-of-type(3) p {
    font-family: "westwood";
    font-weight: 100;
    flex: 0 0 20em;  
    margin: 0;
}

main section:nth-of-type(3) p strong {
    text-transform: uppercase;
}

main section:nth-of-type(3) li {
    list-style-type: "";
    display: flex;
}

main section:nth-of-type(3) a {
    color: var(--color-text)
}

main section:nth-of-type(3) a:first-of-type {
    color: black;
    padding: 0 0 2rem 0;
    flex-shrink: 0;
    background-color: var(--color-bg-page);
    color: var(--color-text);
}

main section:nth-of-type(3) ul {
    list-style-type: "";
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    padding: 0;
    width: 100%  
}

main section:nth-of-type(3) ul button {
    width: 3em;
    height: 3em;
    border: none;
    background-color: var(--color-bg-page);
    color: var(--color-text);
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}

main section:nth-of-type(3) ul button:hover {
    text-underline-offset: .8em;
    text-decoration-thickness: .6em;
    text-decoration: underline;
    text-decoration-color: var(--color-underline);

}

main section:nth-of-type(3) button[aria-label="select white color"] {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: white;
}

main section:nth-of-type(3)>button:last-of-type:hover {
    background-color: var(--color-button-hover-bg);
    color: var(--color-button-hover-text);
    border: 1px solid var(--color-button-hover-border);
    transition: 0.3s;

}

main section:nth-of-type(3)>button:last-of-type {
    border: none;
    letter-spacing: 0.05em;
    cursor: pointer;
    height: 3em;
    width: 100%;
    /* flex css code waarmee je in een flexbox iets kan laten groeien of verkleinen :https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/flex  */
    flex: 0 0 24em;
    color: var(--color-button-text);
    background-color: var(--color-button-bg);
}

/* section 4 beschrijving details */
/* <!-- bron van html element details: https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/details 
(gekregen van Jules en Mattijs tijdens 1e voortgangsgesprek) --> */
main section:nth-of-type(4) {
    font-family: "westwood";
    padding: 1rem 1rem 1rem 2rem; 
    background-color: var(--color-bg-page);
    color: var(--color-text);
}

section:nth-of-type(4) h2 {
    display: none;
}

/* voortgangsgesprek 3 - Jules en Matthijs hebben mij hiermee geholpen tijdens het voortgangsgesprek ik snap het niet */
main section:nth-of-type(4) details summary {
    text-transform: uppercase;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: 1s ease;

    &::after,
    &::before {
        content: "";
        position: absolute;
        border-top: 1px solid black;
        width: 16px;
        height: 0;
        right: 20px;
        top: 50%;
        transition: .4s ease;
    }

    &::after {
        transform: rotate(90deg);
    }
}
main section:nth-of-type(4) details[open] summary::after,
main section:nth-of-type(4) details[open] summary::before {
    transform: rotate(-90deg);
}

main section:nth-of-type(4) details[open] summary::after {
    transform: rotate(0deg);
}

main section:nth-of-type(4) details[open] summary::before {
    opacity: 0;
}

main section:nth-of-type(4) a {
    background-color: var(--color-bg-page);
    color: var(--color-text);
}

main section:nth-of-type(4) p {
    font-family: "westwood";
    text-transform: none;
    font-size: smaller;
}

/* section 5 carousel aanbevolen producten */
main section:nth-of-type(5) {
    background-color: rgb(255, 255, 255);
    font-family: "westwood";
    background-color: var(--color-bg-page);
    color: var(--color-text);
}

main section:nth-of-type(5) h2 {
    font-weight: 400;
    line-height: 1.26;
    font-size: 22px;
    font-family: inherit;
    position: relative;
    z-index: 1;
    padding: 2rem 0rem 0rem 1rem;
    background-color: var(--color-bg-page);
    color: var(--color-text);
}


main section:nth-of-type(5) ul {
    margin: 0;
    padding: 1rem 1rem 0rem 1rem;
    list-style-type: "";

    background-color: var(--color-bg-page);
    color: var(--color-text);

    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;

    gap: .5em;
}

main section:nth-of-type(5) li {
    flex-basis: 70%;
    flex-shrink: 0;
}


main section:nth-of-type(5) article {
    font-family: inherit;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    width: 100%;
}


main section:nth-of-type(5) h3 {
    text-transform: uppercase;
    font-size: inherit;
    order: 2;
}

main section:nth-of-type(5) p {
    font-size: inherit;
    font-family: "westwood";
    justify-content: center;
    align-items: center;
    line-height: 0.2rem;
    order: 3;
}

main section:nth-of-type(5) a img {
    width: 100%;
    aspect-ratio: 5/6;
    order: 1;
}

/* section 1 breadcrumbs */
@media (width >60em) {

    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    main section:nth-of-type(1) ul li {
        display: inline-block;
    }

    main section:nth-of-type(1) ul li::after {
        content: '';
        padding: 0 0.25em 0 0.5em;
        color: #999;
    }

    main section:nth-of-type(1) ul li::before,
    main section:nth-of-type(1) ul li::after {
        content: '/';
    }

    main section:nth-of-type(1) {
        grid-column: 1/-1;
    }

    main section:nth-of-type(2) {
        flex-direction: row;
    }
}


/* section 2 carrousel */
@media (width > 40em) {
    main section {
        flex-direction: row;
    }
}

@media (width > 40em) {
    main section nav {
        order: 0;
    }
}

@media (width > 60em) {
    main section nav ul {
        flex-direction: column;
        padding: 0 0 0 1rem;
    }
}

/* section 3 h1 etc */
@media (width > 60em) {
    main section:nth-of-type(3) {
        gap: 0.5rem;
        padding: 0 3rem 10rem 3rem;
    }

}

/* section 4 details */
@media (width > 60em) {
    section:nth-of-type(4) {
        display:grid;
        grid-column: 2/ -1;
        row-gap: 2em
    }
}

/* section 5 carousel */
@media (width > 60em) {
    main section:nth-of-type(5) {
        display: grid;
        grid-column: 1 / -1;;

    }

    main section:nth-of-type(5) li {
        flex-basis: 24%;
    }

    main section:nth-of-type(5) ul {
        gap: 0.5em;
    }
}